# Server Config
PORT=8080
ALLOWED_ORIGIN=http://localhost:3000

# Database Config
# Format: postgresql://[user]:[password]@[host]:[port]/[db_name]?sslmode=disable
DB_SOURCE=postgresql://orderflow_user:orderflow_password@localhost:5432/orderflow_db?sslmode=disable

# Redis Config
# Format: [host]:[port]
REDIS_ADDR=localhost:6379

# Auth Security Config
# Replace these with long secure keys in production
JWT_SECRET=super_secret_jwt_key_should_be_long_and_secure
